.attendance-list__month-nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 0 25px;
}

.attendance-list__month-link {
    text-decoration: none;
    color: #737373;
    font-weight: bold;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.attendance-list__month-link:first-of-type::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 15px;
    background-image: url('/img/arrow-left.png');
    background-size: contain;
    transform: translateY(-50%);
    opacity: 0.3;
}

.attendance-list__month-link:last-of-type::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    height: 15px;
    background-image: url('/img/arrow-left.png');
    background-size: contain;
    transform: translateY(-50%) rotate(180deg);
    opacity: 0.3;
}

.attendance-list__month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    color: #000;
}

.attendance-list__month img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.attendance-list__month p {
    font-size: 1.25rem;
    font-weight: bold;
}

.attendance-list__table {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    margin-top: 46px;
    table-layout: fixed;
    letter-spacing: 0.1rem;
}

.attendance-list__table th,
.attendance-list__table td {
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #e1e1e1;
}

.attendance-list__table th:first-of-type,
.attendance-list__table td:first-of-type {
    width: 22%;
    padding-left: 55px;
    padding-right: 30px;
}

.attendance-list__table th:first-of-type:not(.attendance-list__table-head),
.attendance-list__table td:first-of-type:not(.attendance-list__table-date) {
    text-align: left;
}

.attendance-list__table th:last-of-type,
.attendance-list__table td:last-of-type {
    width: 15%;
    padding-right: 55px;
}

.attendance-list__table th {
    border-bottom: 3px solid #e1e1e1;
}

.attendance-list__table-detail {
    text-decoration: none;
    color: #000;
}

